html, body {
	height: 100%;
}

.message {
	border: 1px dashed red;
	awidth: 100%;
	padding: 4px;
	margin-bottom: 0.5em;
}

.comment {
	color: #777777;
	padding-left: 1em;
}

li {
	margin-left: 1em;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

.archived b a, .archived {
	color: #BBBBBB;
}

.graph {
   position: absolute;
   z-index: 3;
   background: #EEE;
   border: 0px solid gray;
}

tr.checked {
	background: #FAFAFA;
}

td.check, td.check input {
	cursor: pointer;
}

.CodeMirror {
    border: 3px solid #eee;
}
.CodeMirror-scroll {
    overflow-y: auto;
    overflow-x: auto;
}

#ajax_test_sql_result {
	width: 450px;
	position: absolute;
	top: 0;
	right: 0;
	background: #FFAAAA;
	color: black;
	border: 1px solid red;
	padding: 1em;
	display: none;
}

#ajax_test_sql_result .head {
	font-weight: bold;
	font-size: 150%;
	padding-bottom: 0.5em;
}

.sql_error {
	border-color: red;
}

.sql_ok {
	border-color: #00DD00;
}
