html, body {
	background: #FFF;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Verdana;
	font-size: 16px;
    color: #333;
}

body {
    line-height: 1.4;
}

a {
    color: #15C;
    border: 0;
}

img {
    border: 0;
}

#header {
	width: 100%;
    padding-top: 8px;
}

#header_background {
	position: absolute;
	background: #F5F5F5;
	width: 100%;
	height: 100px;
}

#header .logo {
    float: left;
    width: 108px;
    margin: 2px 24px 0;
    z-index: 10;
}

#header .logo img {
	position: absolute;
	z-index: 10;
}

#header a {
    text-decoration: none;
    color: #333;
}

#header a:hover {
    text-decoration: underline;
}

#header .shadow {
    visibility: hidden;
}

#header .current {
	font-weight: bold;
    color: #DD4B39;
}

#header .menu .item {
    float: left;
}

#header .menu .item .count {
	color: #BBB;
	padding-left: 0.2em;
	font-size: 80%;
	vertical-align: top;
}

#header .menu .item .inner {
    padding: 16px 20px;
}

#header .menu .right {
    float: right;
}

#header .menu .current {
    font-weight: bold;
}

#header .menu .current a {
    color: #DD4B39;
}

#header .menu .item .real {
    position: absolute;
    z-index: 100;
    margin-top: 1px;
    margin-left: 1px;
}

#header .menu .current .real {
    background: white;
    font-weight: bold;
    margin-top: 0;
    margin-left: 0;
    border: 1px solid #DEDEDE;
    border-bottom: none;
}

img.triangle_down {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	cursor: pointer; cursor: hand;
}

#header .menu .item .submenu {
    margin-top: 0;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    z-index: 200;
	border: 1px solid #DEDEDE;
	background: #fff;
	display: none;
}

#header .menu .item .submenu .submenu_item a {
	padding-left: 20px;
	font-weight: normal;
    color: #333;
}

#header .menu .item .submenu .submenu_item a.current {
	font-weight: bold;
}

#text {
	clear: both;
	padding: 0 1.5em 1.5em;
	background: #FFF;
    border: 1px solid #DEDEDE;
    border-bottom: none;
    z-index: 1;
    position: relative;
}

.message {
	border: 1px dashed red;
	awidth: 100%;
	padding: 8px;
	margin-bottom: 0.5em;
}

.comment {
	color: #777777;
	padding-left: 1em;
}

li {
	margin-left: 1em;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

.archived b a, .archived {
	color: #BBBBBB;
}

.graph {
   position: absolute;
   z-index: 3;
   background: #EEE;
   border: 0px solid gray;
}

td.check, td.check input {
	cursor: pointer;
}

.CodeMirror {
    border: 3px solid #eee;
}
.CodeMirror-scroll {
    overflow-y: auto;
    overflow-x: auto;
}

#ajax_test_sql_result {
	width: 450px;
	position: absolute;
	top: 0;
	right: 0;
	background: #FFAAAA;
	color: black;
	border: 1px solid red;
	padding: 1em;
	display: none;
	z-index: 10000;
}

#ajax_test_sql_result .head {
	font-weight: bold;
	font-size: 150%;
	padding-bottom: 0.5em;
}

.sql_error {
	border-color: red;
}

.sql_ok {
	border-color: #00DD00;
}

.caption {
	padding-right: 8px;
}

#showHideDiv span {
	margin-left: 32px;
	text-decoration: none;
	border-bottom: 1px dashed #15C;
	color: #15C;
	cursor: pointer; cursor: hand;
}

.table_data tr.clicked {
	background: #F5F5F5;
}

tr.checked {
	background: #F5F5F5;
}

.table_data tr:hover {
	background: #F5F5F5;
}

.form_table_head td {
	background: #F5F5F5;
	font-weight: bold;
	padding: 0 4px;
}

.form_table_body td {
	background: #FAFAFA;
	padding: 0 4px;
}
